[Desktop Entry]
Version=1.0
Type=Application
Name=Chili DateTime
Comment=Application to synchronize date and time
Comment[pt]=Aplicativo para sincronizarAplicativo para sincronizar de data e hora de data e hora
Exec=chili-getdatetime
Icon=time
Terminal=false
Categories=Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;Chili Apps;
